.wrapper {
  width: 100%;
  padding: 24px;
}

.full {
  width: 100%;
}

.more {
  margin: 32px auto 0 auto;
  text-align: center;
}

.back {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
}

.products {
  width: 100%;
  padding: 25px 22px;
}

.list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(20% - 10px);
}

.productBlock {
  margin-bottom: 40px;
  width: 18%;
}

.editButtons {
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: 410px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper2 {
  background: #e3e3e3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 425px);
}

.titleCategory {
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  color: var(--dark-sea);
}

.title {
  font-weight: 600;
  font-size: 16px;
  height: 80px;
  color: #ffffff;
  line-height: 18px;
}

.filter {
  display: flex;
  align-items: center;
  width: 500px;
  margin-top: 20px;

}

.info {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prices {
  display: block;
  align-items: center;
  column-gap: 5px;
}

.oldPrice {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  padding-top: 10px;
  color: var(--violet-dark);
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--violet);
  padding-bottom: 10px;
}

.purchases {
  color: var(--dark-sea);
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.adminButton {
  margin-top: 30px;
}