.form{
  flex-grow: 1;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.title {
  font-size: 22px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.divCenter {
  display: flex;
  justify-content: center;
}

.loginInput {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divBtn {
  display: flex;
  justify-content: center;
}

.loginbtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text {
  color: var(--grey);
}

.errorMessage {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
