.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 24px;
}

.logo {
  width: 200px;
}

.logo a {
  height: 100%;
}

.rights {
  color: var(--dark-sea);
  font-size: 12px;
  line-height: 15px;
  width: 200px;
}

.rights a {
  color: var(--violet-dark);
}

.socials {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  gap: 15px;
}

.socials svg {
  width: 24px;
  height: 24px;
  fill: var(--dark-sea);
}

.socials svg:hover {
  fill: var(--violet);
}
