@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Sofia+Sans:wght@300;500;700&display=swap");

body {
  background: var(--bg);
  font-size: 16px;
  line-height: 16px;
  font-family: Montserrat, Roboto, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #000000;
  font-weight: 500;
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app {
  width: 1274px;
  margin: 0 auto;
}

.footer {
  padding-left: 12px;
  padding-right: 12px;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.icon {
  width: 12px;
  height: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

section {
  background: var(--dark);
  border-radius: 6px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.preloader {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


:root {
  --bg: #efefef;
  --dark: #d5d5d5;
  --dark-sea: #2f2f2f;
  --grey: #9d9d9d;
  --white: #fff;
  --violet: #91a1ff;
  --violet-dark: #526cff;
  --light: #f6f6f7;
  --sea: #616e74;
}
